name: Multi-Platform Build & Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23.4'
      - name: Install dependencies
        run: go mod tidy
      - name: Build Linux
        run: |
          GOOS=linux GOARCH=amd64 go build -o monitoring-linux main.go

      - name: Build Windows
        run: |
          GOOS=windows GOARCH=amd64 go build -o monitoring-windows.exe main.go

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            monitoring-linux
            monitoring-windows.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
